.activity_form{
  background-color: #00000054;
  width: 60vw;
  max-width: 500px;
  margin: auto;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-bottom: 2em;
  border-radius: 2em;
  font-weight: bold;
}

.activity_form > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.activity_form > form > div{
  margin: 0.4em 0em;
  width: 100%;
}

.activity_form > form > .formSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity_form > form input{
  border-radius: 0.5em;
  border: 1px solid black;
}

.submit_btn{
  background-color: rgb(17, 56, 11);
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  text-decoration: none;
  padding: 1em 2em;
}

.submit_btn:hover:enabled{
  background-color: rgb(33, 104, 22);
}

.submit_btn:disabled{
  background-color: gray;
}

.activity_radio label{
  margin-right: 0.2em;
}

.openCbtn{
  background-color: grey;
  color: white;
  padding: 0.5em 3em;
  border-radius: 1em;
  border: 1px solid black;
  cursor: pointer;
}

.last_p{
  font-size: smaller;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2em;
}

.error_input{
  width: 100%;
  text-align: center;
  color: red;
  background-color: rgba(255, 192, 203, 0.8);
  border: red 1px solid;
  margin: 0;
  padding: 0.5em 0em;
  border-radius: 1em;
}

/* Results */
.result{
  width: 100%;
  text-align: center;
  margin: 0%;
  margin-top: 1em;
  padding: 0.5em 0em;
  border-radius: 1em;
}
.result_Success{
  
  color: green;
  background-color: rgba(172, 255, 47, 0.8);
  border: green 1px solid;
}
.result_Fail{
  color: red;
  background-color: rgba(255, 192, 203, 0.8);
  border: red 1px solid;
}

.activity_loading{
  margin-top: 20vh;
}