.cardCountry{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 200px;
  width: 200px;
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s;
}

.cardCountry:hover{
  background-color: rgba(69, 69, 69, 1);
}

.cardCountry img{
  width: 100%;
  height: 50%;
  border-radius: 1em;
}


.cardCountry p, .cardCountry h3{
  text-align: center;
  margin: auto;
  font-weight: bold;
}